{% extends 'core/base.html' %}

{% block titulo %}Acerca | Mi web personal{% endblock %}

{% block meta %}Acerca de Luis Casares{% endblock %}

{% block imagen %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block encabezado1 %}
<h1>Título dinámico Acerca de Luis Casares</h1>
{% endblock %}

{% block content %}
<section>
    <h2>Este es el subtítulo dinámico de la página de acerca de</h2>
</section>
{% endblock %}

{% block contenido %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg'%}"  alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Luis Casares</h2>   
        <p>Nacido en... </p>
        {% lorem 1 p random %}
    </div>
</div
{% endblock %}
